form#survey {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

form#newsletter > fieldset {
  background-color: gray;
  border-radius: 20px;
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  font-size: 0.85em;
  padding: 10px;
  margin: 10px;
}

div.formRow {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 7px 0px;
}

div.formRow > * {
  -webkit-flex: 1 1 150px;
  flex: 1 1 150px;
}

div#buttons {
  text-align: center;
  width: 100%;
}

input[type='submit'],
input[type='reset'] {
  font-size: 1.2em;
  padding: 5px;
  margin: 15px;
}
