@charset "utf-8";

@font-face {
    font-family: Gargoyles;
    src: url(../fonts/Gargoyles.ttf) format('truetype');
}

h1 {
    font-family: 'Gargoyles', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

blockquote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(5px 5px 10px white);
    font-size: 20px;
    padding: 3px;
}