@charset "utf-8";
@import "print.css" print;


table {
  border: 5px solid black;
  border-collapse: collapse;
}

table th {
  padding: 8px;
  border: 5px solid black;
  border-collapse: collapse;
}

table td {
  padding: 8px;
  border: 5px solid black;
  border-collapse: collapse;
}
